*{font-family: 'Raleway', sans-serif;}
html,body{height:100%;}
body{background-image:url("images/onepage_restaurant.jpg");background-size:cover;
    background-position:center;
}
.c-center{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.c-end{position:absolute;left:0;bottom:0;}
.c-end a:hover{color:green !important;}
.c-btn{padding:12px 16px;border:none;outline:none;background:black;color:white;
    font-size:24px;
}
.c-btn:hover{background:#ccc;color:black;}
.modal p{margin-bottom:8px;}
.close{opacity:1;margin:0px !important;position:absolute;top:0;right:0;}
.close:hover{color:black !important;background:#ddd !important;}
@keyframes zoom{
    from{transform:scale(0)}
    to{transform:scale(1)}
}
.modal-dialog{animation-name:zoom;animation-duration:.5s;position:relative;}
.c-form-control{width:100%;padding:12px;font-size:18px;border:1px solid #ddd;}
.c-submit{border:none;outline:none;background:transparent;padding:10px 16px;}
.c-submit:hover{background:#ddd;}