*{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;box-sizing:border-box;}
img{width:100%;height:auto;display:block;}
.side-bar{position:fixed;top:0;left:0;bottom:0;width:40%;background-image:url("images/Admin.jpg");background-size:cover;background-position:center;}
.menu{position:fixed;top:0;right:0;z-index: 1;}
.menu i{font-size:32px;padding:20px;cursor:pointer;color:black;background:white;}
.menu i:hover{background:#ccc;}
.body{margin-left:40%;transition:.5s;}
.sub-container{margin:16px;}
h1,h2,h3,h4{font-weight: normal;opacity:.8;}
p,a{opacity:.8;}
header{padding:100px 0;text-align:center;}
header h1{font-size:60px;}
header p{padding:30px 0;}
.btn{cursor:pointer;background:#f1f1f1;color:black;border:none;padding:16px 24px;font-size:16.1px;margin:16px 0;}
.btn:hover{background:#ccc;}
.title{padding:16px 0;}
hr{border:0;border-top:1px solid #ddd;margin:8px 0;}
.gallery{display:flex;flex-flow:nowrap row;margin:0 -8px;}
.img-blk{flex:50%;}
.img-blk img{padding:8px;}
.paragraph{padding:8px 0;opacity:.6;text-align:justify}
.ls{letter-spacing:3px;}
.bg{margin:8px 0;background:#f1f1f1;}
.fg{background:#616161;text-align:center;color:white;padding:5px 0;}
.details{margin:32px 0 16px;display:flex;flex-flow:nowrap row;justify-content: space-around;background:#616161;color:white;padding:40px 0;text-align:center;}
.dd h2{padding-bottom:5px;}
.reputation{padding:16px 0;}
.reputation::after{content:"";display:table;clear:both;}
.rep-left,.rep-right{float:left;}
.rep-left img{border-radius:50%;}
.rep-right p{margin:16px 0 16px 16px;}
.packages{display:flex;flex-flow:nowrap row;margin:16px -8px;}
.pack{flex:50%;margin:8px;box-shadow:5px 3px 8px 1px #ddd, -4px 3px 9px 1px #ccc;}
.pack:hover{box-shadow:0px 11px 20px 4px #ddd, 0px 12px 20px 4px #ccc;}
ul{list-style:none;background:#f1f1f1;text-align:center;}
li>p{text-align:center !important;}
.basic{background:#616161;color:white;}
.pro{background:black;color:white;}
li h1{padding:32px 0;}
li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7){border-bottom:1px solid #ddd;background:white;padding:12px 0;}
li>button{margin:16px;padding:12px 20px;background:white;border:none;cursor:pointer;}
li>button:hover{background:#ccc;}
.sec-img{margin:32px 0;}
form{margin:16px 0;}
input{margin:8px 0;padding:12px;border:1px solid #ddd;width:100%;font-size:17px;}
.contact-icons i{font-size:32px;width:50px;}
.icons i{font-size:18px;opacity:.6}
.icons i:hover{opacity:.4;}
footer{text-align:center;padding:70px 0;background:#f1f1f1;}
footer a{color:black;}
footer a:hover{color:green;}
.icons{margin-bottom:16px;}
@media only screen and (max-width:992px){.side-bar{width:0;}.body{margin:0;}}
@media only screen and (max-width:600px){.gallery,.packages{flex-direction:column;}}
.side-nav{position:fixed;top:0;right:0;height:100%;width:60%;z-index:2;background:black;
    padding-top:120px;width:0%;overflow:hidden;opacity:0;transition:.4s;}
#close{position:absolute;top:0;right:0;font-size:42px;font-weight:bold;color:white;
    background:transparent;border:none;outline:none;padding:12px 16px;cursor:pointer;
}
#close:hover{opacity:.8}
.side-nav a{color:#757575;font-size:32px;text-align:center;white-space:nowrap;
    text-decoration:none;display:block;padding:16px 0;letter-spacing:3px;
}
.side-nav a:hover{color:white;}
.float{position:fixed;top:0;left:0;width:100%;height:100%;background:black;z-index:3;
    padding:0 16px;display:none;
}
.display{position:relative;width:70%;margin:auto;height:100%;}
#img{max-height:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;
    text-align:center;color:white;animation:zoom 1.2s;
}
@keyframes zoom{
    from{transform:scale(0)}
    to{transform:scale(1)}
}
